<a class="pokemon">
    <section class="pokemon_status">
        <h2>
            Bulbassauro
        </h2>
        <ul>
            <li>Grass</li>
            <li>Poison</li>
        </ul>
    </section>
    <section class="pokemon_image">
        <img src="../../../assets/image 1.svg" alt="Bulbassauro" >
    </section>
</a>

<a class="pokemon">
    <section class="pokemon_status">
        <h2>
            Bulbassauro
        </h2>
        <ul>
            <li>Grass</li>
            <li>Poison</li>
        </ul>
    </section>
    <section class="pokemon_image">
        <img src="../../../assets/image 1.svg" alt="Bulbassauro" >
    </section>
</a>